.event-details {
  width: 100%;
  padding: 12px 16px;
  background-color: #f0efef;
  transition-duration: 200ms;

  & .title {
    margin-bottom: 20px;
  }

  & .description {
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #2E2E2E;
    max-height: 160px;
    overflow: hidden;
  }

  & .details {
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #2E2E2E;
    max-height: 160px;
    overflow: hidden;
  }

}